[Unit]
Description=Somaphone
After=network.service

[Service]
#User=root
#Type=simple
RemainAfterExit=true
ExecStart=/home/root/10VE/Somaphone.sh
Environment="HOME=/home/root/10VE"
WorkingDirectory=/home/root/10VE
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
